<!DOCTYPE html>
<html lang="en">
<head>
  <title>CodePlay</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
</head>
<div class="card-panel teal lighten-2">.</div>
 <body>

   <script>
   	function eraseText() {
    document.getElementById("output").value = "";
    }
   </script>

   <!-- Fixed navbar -->
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <img src="static/code.png" height="50" width="50"> &nbsp; &nbsp; &nbsp;
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">

           <li class="active"><a href="">Home</a></li>

           <li><a  href="http://github.com/aktech/CodePlay">Fork on Github</a></li>
           <!-- <li><a  href="#">Online Code Compiler & Player</a></li> -->
           <li class="dropdown">
             <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Developer <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="http://github.com/aktech">Github</a></li>
               <li><a href="http://twitter.com/iaktech">Twitter</a></li>
               <li><a href="https://www.linkedin.com/in/iaktech/">LinkedIn</a></li>
             </ul>
           </li>
         </ul>
       </div>
     </div>
   </nav>

<style>
h2, .waves-effect, .nav, .form-group, .table, .page-footer {
    font-family: "Bree Serif";
}
</style>

 <div class="container">
   <h2>CodePlay</h2>
     <form class="lang" method="POST">
          {% csrf_token %}

          <fieldset class="form-group">
            <label for="lang">Select Language</label>
            <select class="form-control" name="lang" id="lang">
              <option value=C selected="selected">C (gcc 4.8.4)</option>
              <option value=CPP>C++ (g++ 4.8.4)</option>
              <option value=CLOJURE>Clojure (clojure 1.4.0)</option>
              <option value=CSS>CSS</option>
              <option value=CSHARP>C# (mono 3.2.8)</option>
              <option value=GO>Go (go 1.4.2)</option>
              <option value=HASKELL>Haskell (ghc 7.6.3)</option>
              <option value=HTML>HTML</option>
              <option value=JAVA>Java (openjdk 1.7.0_09)</option>
              <option value=JAVASCRIPT>JavaScript (Rhino 1.7)</option>
              <option value=JAVASCRIPT_NODE>JavaScript (Node.js 0.10.25)</option>
              <option value=LISP>Lisp (csc 4.8.0.5)</option>
              <option value=OBJECTIVEC>Objective-C (clang 3.3)</option>
              <option value=PASCAL>Pascal (fpc 2.6.2)</option>
              <option value=PERL>Perl (perl 5.18.2)</option>
              <option value=PHP>PHP (php 5.5.9)</option>
              <option value=PYTHON>Python (python 2.7.6)</option>
              <option value=RUBY>Ruby (ruby 2.1.1)</option>
              <option value=R>R (RScript 3.0.2)</option>
              <option value=RUST>Rust (rustc 1.4.0)</option>
              <option value=SCALA>Scala (scalac 2.9.2)</option>
            </select>
          </fieldset>

          <fieldset class="form-group">
            <label for="code-form">Code</label>
            <textarea class="form-control" id="source" rows="10"></textarea>

          </fieldset>

       <button type="submit" id="submit" class="waves-effect waves-light btn">PlayCode</button>
       <button value="Clear" class="waves-effect waves-light btn" onclick="javascript:eraseText();">Reset</button>

     </form>
 </div>
 <br>

<!--Output Table: Start-->
 <div class="container">
  <table class="table table-striped hidden" id="table">
    <thead>
      <tr>
        <th>Output</th>
        <th>Errors</th>
        <th>Compile Status</th>
        <th>Time (sec)</th>
        <th>Memory (KB)</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<!--Output Table: END -->

<style>
  mark {
      background-color: #e67676;
      color: white;
  }
</style>

<!-- <footer class="page-footer teal">
  <div class="footer-copyright">
    <div class="container">
    © 2016 CodePlay | Made in India.
    </div>
  </div>
</footer> -->

 <script>
//For getting CSRF token
function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
         // Does this cookie string begin with the name we want?
         if (cookie.substring(0, name.length + 1) == (name + '=')) {
             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
             break;
          }
     }
 }
 return cookieValue;
}


//For doing AJAX post
 $("#submit").click(function(e) {

   e.preventDefault();
   var csrftoken = getCookie('csrftoken');
   //  var lang = $('#lang').val();
   var e = document.getElementById("lang");
   var lang = e.options[e.selectedIndex].value;
   var source = $('#source').val();

   // This is the Ajax post.Observe carefully.
  //  It is nothing but details of where_to_post,what_to_post

   $.ajax({
           url : window.location.href, // the endpoint,commonly same url
           type : "POST", // http method
           data : { csrfmiddlewaretoken : csrftoken,
           lang : lang,
           source : source
           }, // data sent with the post request

          success: function(json){
              if(json){
                  var txt = "";

                  // Output
                  if(json['run_status']['output']){ txt += "<tr><td>"+json['run_status']['output']+"</td>";}
                  else {txt += "<tr><td>"+ 'NA' +"</td>";}
                  // Errors
                  if(json['errors']){ txt += "<td>" + "<mark>" +json['errors']+ "</mark>" + "</td>";}
                  else {txt += "<td>"+ 'NA' +"</td>";}
                  // Compile Status
                  if(json['compile_status'] != "OK"){ txt += "<td>"+ "<mark>" +json['compile_status']+ "</mark>" +"</td>";}
                  else if(json['compile_status'] == "OK"){ txt += "<td>" +json['compile_status']+ "</td>";}
                  else {txt += "<td>"+ 'NA' +"</td>";}
                  // Time used
                  if(json['run_status']['time_used']){ txt += "<td>"+json['run_status']['time_used']+"</td>";}
                  else {txt += "<td>"+ 'NA' +"</td>";}
                  // Memory used
                  if(json['run_status']['memory_used']){ txt += "<td>"+json['run_status']['memory_used']+"</td></tr>";}
                  else {txt += "<td>"+ 'NA' +"</td></tr>";}

                  if(txt != ""){
                    $("#table").append(txt).removeClass("hidden");
                  }
              }
          },
          // Display JSON data in table: END

           // handle a non-successful response
           error : function(xhr,errmsg,err) {
           console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
           }
    });
  });

</script>

</body>
</html>
